* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0f1923;
  height: 100vh;
}

#welcome-page {
  height: 96vh;
  background-color: #0f1923;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 40px;
}

#welcome-page header {
  text-align: center;
}

#welcome-page header h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
}

#welcome-page header h2 {
  color: #808080;
  font-size: 30px;
  font-weight: 400;
}

#welcome-page #player-info {
  text-align: center;
}

#welcome-page section label {
  color: #ffffff;
  font-size: 22px;
}

#welcome-page section input {
  background-color: #28354a;
  border: none;
  height: 40px;
  border-radius: 15px;
  margin: 20px;
  padding: 5px 15px;
  box-sizing: border-box;
  font-size: 17px;
  outline: none;
  color: #ffffff;
}

#welcome-page section input::placeholder{
  color: red;
}

#welcome-page section input:focus {
  box-shadow: 0px 0px 20px #1f8cff;
}

#welcome-page button {
  text-decoration: none;
  color: #ffffff;
  background-color: #1f8cff;
  padding: 15px 35px;
  border-radius: 15px;
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
  border: none;
  cursor: pointer;
}

#welcome-page + a {
  color: #1f8cff;
  display: block;
  text-align: end;
  margin-right: 10px;
}

@media (max-width: 767px) {
  #welcome-page section input,
  #welcome-page a {
    width: 70%;
  }
}
